.app {
    width: fit-content;
    margin: 80px auto;
}

.account {
    width: fit-content;
    margin: 80px auto;
}

.home {
    width: fit-content;
    margin: 210px auto;
}

.messageUser {
    margin: 3px 0px;
}

.messageText {
    margin: 0px 15px 20px;
}

.title {
    width: fit-content;
    margin: 10px auto 30px;
}

.homeTitle {
    width: fit-content;
    margin: 10px auto;
    font-size : 350%;
}

#manageMessage {
    float: right;
}

#messageForm, #serverForm {
    width: fit-content;
    margin: 0px auto 30px;
}

#startButton {
    width: fit-content;
    margin: 0px 45px;
}

.invalidLink:link, .invalidLink:visited, .invalidLink:hover, .invalidLink:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
}