.app {
    width: fit-content;
    margin: 150px auto;
}

#messageForm, #serverForm {
    width: fit-content;
    margin: 0px auto 30px;
}

.messageUser {
    margin: 3px 0px;
}

.messageText {
    margin: 0px 15px 10px;
}