.app {
    width: fit-content;
    margin: 80px auto;
}

.messageUser {
    margin: 3px 0px;
}

.messageText {
    margin: 0px 15px 20px;
}

.account {
    width: fit-content;
    margin: 150px auto;
}

.serverTitle {
    width: fit-content;
    margin: 10px auto 30px;
}

#manageMessage {
    float: right;
}

#messageForm, #serverForm {
    width: fit-content;
    margin: 0px auto 30px;
}